body {
  background-image: url('background-image.jpg');
  font-family: Tahoma, Geneva, sans-serif;
}

.content {
  max-width: 1000px;
  min-height: 700px;
  margin: 100px auto;
  padding: 80px 100px;
  background: white;
  opacity: 93%;
  border: solid 10px rgb(93, 51, 11);
  border-radius: 80px;
}

form {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

form > label {
  margin: 5px 10px;
  font-size: 20px;
}

form > input {
  margin: 5px 10px;
  padding: 10px 10px;
}

form > #submit-button {
  width: 150px;
}

th,
td {
  border-bottom: 1px solid black;
  padding: 10px;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-size: 20px;
}

button {
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
}

.button-delete {
  background-color: rgb(228, 128, 128);
}
